.header {
  display: flex;
  align-items: center;
  background-color: rgb(152, 197, 233);
  padding: 15px 30px;
  overflow: visible;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.logo {
  height: 60px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-left: auto;
  padding-right: 0;
}

.nav a {
  color: rgb(0, 40, 94);
  text-decoration: none;
  font-weight: 700;
  font-size: 17px;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.nav a:hover {
  color: black;
  transform: scale(1.2);
}

.register-btn {
  background-color: rgb(0, 40, 94);
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
  animation: bounce 2s infinite;
  position: relative;
  overflow: hidden;
}



@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-5px);
  }

  75% {
    transform: translateY(5px);
  }
}

.register-btn:hover {
  animation-play-state: paused;
}

.register-btn span {
  position: relative;
  z-index: 1;
}