/* Font-face moved to index.html for stable static preloading */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kippax Modern Cnd', sans-serif;
  font-weight: 400;
  /* Regular Condensed for Text */
  letter-spacing: 0.05em;
  /* Spacing out the condensed letters */
  word-spacing: 0.1em;
  /* Slight bump between words */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-weight: 700;
  /* Bold Condensed for Headings */
}

h4,
h5,
h6 {
  font-weight: 500;
  /* Medium Condensed for Sub-headings */
}

/* Lenis Recommended setup */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}